* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: url('assets/img/space.jpg');
    color: #e1e1e1;
}

a {
    border: 3px solid transparent;
}

a img {
    object-fit: fill;
}

a:hover {
    border-color: #fff;
}

h2,
h3 {
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 59rem;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    opacity: 90%;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav ul li {
    display: block;
    margin-right: 20px;
    margin-top: 20px;
}

.nav ul li a {
    display: block;
    background: #e1e1e1;
    padding: 10px;
}

@media screen and (min-width: 59rem) {
    .albums,
    .shows {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    .albums > div {
        max-width: calc(50% - 20px);
        margin-top: 0;
        width: 100%;
    }
    .shows > a {
        max-width: 50%;
        margin-top: 0;
    }
}

.albums > div,
.shows > a {
    display: block;
    margin: 20px auto;
}

main,
section + section,
.albums,
.shows {
    margin-top: 20px;
}

.ddt {
    opacity: 90%;
    margin-top: 80px;
}
